@define-color default-color currentColor;
@define-color negative-numbers rgb(75%, 0%, 0%);

.default-color {
    color: @default-color;
}
button, entry, checkbox, spinbutton {
    /*font: 14px "Comic Sans";*/
    border-radius: 0;
}

.negative-numbers {
    color: red;
}
.small-button {
    padding: 0;
    outline-width: 0;
}

.assistant-title{
    padding: 20px;
    background: dodgerblue;
    margin: 0;
}

.assistant-title > label{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

/*toolbar {*/
/*    -gtk-icon-style: symbolic;*/
/*}*/

.more_info {
    border-left: 1px solid @borders;
    border-right: 1px solid @borders;
    border-top: 1px solid @borders;
    min-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color:whitesmoke;*/
}
.more_info > row > title{
    font-size: xx-large;
    font-weight: bold;
}
.more_info > row > sub_title{
    font-size: 16px;
    padding: 12px;
}


.more_info:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 100px;
}

.more_info:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.more_info > row{
    padding: 32px 12px;
    border: 1px solid @borders;

}

.ibtitle {
    font-size: xx-large;
    font-weight: bold;
}
.strong {
    font-weight: bold;
}
.emphasis {
    font-style: italic;
}
.fuel-calendar{
    background-color: green;
}

.user-icon-button {
    background: transparent;
    box-shadow: none;
    border: 1px solid @borders;
    border-radius: 60%;
    padding: 3px;
}

.user-icon-button > .user-icon-button {
    padding: 0;
}
